APP_PORT=3000
NODE_ENV="dev"

DATABASE_URL="mysql://root:root@localhost:3306/toko_kita_db"

DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_NAME="toko_kita_db"
DATABASE_HOST="localhost"
DATABASE_PORT=3306

SALT_LENGTH=32
PASSWORD_ITERATIONS=100000
KEY_LENGTH=64

ACCESS_TOKEN_SECRET=6dbea9f3ad264388b06a28e9e98474e6b43a3870418252ca51d2a25eaec645a2